body{
background-color: green;
font-family: 'Franklin Gothic Medium';
padding: 5em;
}
/* esto solo funciona si la imagen es sficientemente pequeña*/
/*ul{
    list-style-image: url(media/chems.jpg);
}*/
ul{
    list-style: none;
}
li::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(media/chems.jpg);
    background-position: center;
    background-size: cover;
    margin-right: 5px;
}

@font-face {
    font-family: fuentechida;
    src: url(fuente/Little-Mermaid-por-Kustren.ttf);
}
.fondo_blanco{
    background-color: white;
}

.fondo_azul{
    background-color: cornflowerblue;
}
.fondo_gris{
    background-color: rgb(83, 81, 81);
}

.fondoimagen {
    background-image: url(media/cool-nebula-wallpaper-1.jpg);
    width: 95%;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100%;
    background-position: center;
    padding: 25px;
}
.texto_1{
    text-align: center ;
    font-size: 50px;
    font-family: fuetechida;
    color: rgb(94, 94, 94);
}

.texto_2{
    text-align: left ;
    font-size: 16px;
    color: white;
}
.texto_3{
    text-align: center ;
    font-size: 16px;
    color:black;
}
.texto_4{
    text-align: center ;
    font-size: 25px;
    color: white;
}
.imagen_1{
    width: 100 px;
    height: 100 px;
    align-items: center;
}
.borde_negro{
    border: 20px solid black;
    border-radius: 30px;
}

.borde_blanco{
    border: 2px solid white;
}

.borde_tabla{
    border-collapse: collapse;
   
}
.td_1{
    width: max-content;
    border: 10px solid black;
}